/***************
Styles for entire site (mobile first)
****************/

body {
  background-image:url("../images/_backgrounds/strathmoreCharcoal500_white.jpg");
  background-repeat:repeat;
  background-size:25%;
  font-family: 'IM Fell English', serif;
}

#logo {
  margin-top:100px;
  width: 100px;
}

#mainTitle {
background-color: #003f0a;
color: white;
margin: 0;
padding: 15px 0;
position:fixed;
    top:0; left:0;
    height:40px;
    width:100%;
    z-index:999;
text-align: center;
  }

/************
CSS for Menu Experiment
*******************/

.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
}

.responsive-menu{
	display: none;
}

.expand {
	display: block !important;
}

/****************
End of CSS Menu Experiment
******************/


/* Desktops and TVs*/
@media screen and (min-width:700px) {

html
{
background-color:#003f0a;
}

body {
  margin: auto;
	margin-bottom: 5%;
	width: 90%;
	box-shadow: 10px 10px 5px rgba(0,0,0,.35);
	border:7px double #003f0a;
	padding-top:50px;
	padding-left:200px;
	padding-right:200px;
	padding-bottom:40px;
	box-sizing:border-box;
	}

}
